
.startGame:hover, .resetGame:hover, .endGame:hover, .nextRound:hover{
    transform: scale(1.05);
    transition: 0.2s ease-out;
}

/* Makes interactable items on the title screen change to a pointer. 
** Indicating the object can be interacted with */
.nameContainer input:hover, .radioButton label:hover, .startGame:hover, select:hover,
button:hover{
    cursor: pointer;
}

/* When AI is selected in title screen, fade in the the form options */

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut{
    0% {opacity: 1;}
    100% {opacity: 0;}
}

form[style*="block"]{
    animation: fadeIn 0.5s;
}

form[class*="fadeOut"]{
    animation: fadeOut 0.3s;
}
