
.startGame:hover, .resetGame:hover, .endGame:hover, .nextRound:hover{
    transform: scale(1.05);
    transition: 0.2s ease-out;
}

/* Makes interactable items on the title screen change to a pointer. 
** Indicating the object can be interacted with */
.nameContainer input:hover, .radioButton label:hover, .startGame:hover, select:hover,
button:hover{
    cursor: pointer;
}

/* When AI is selected in title screen, fade in the the form options */

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut{
    0% {opacity: 1;}
    100% {opacity: 0;}
}

form[style*="block"]{
    animation: fadeIn 0.5s;
}

form[class*="fadeOut"]{
    animation: fadeOut 0.3s;
}


/* X's and O's placement animations */
@keyframes charIn {
    0%{
        font-size: 10rem;
        filter: blur(10px);
        opacity: 0.5;
    }
    100%{
        font-size: 3rem;
        filter: blur(0px);
        opacity: 1;
    }
    
}


.animate{
    animation: charIn 0.3s ease-in-out;
}

/* Animations for highlighting which players turn it is */
@keyframes switchTurn {
    0% {background-color: #cf4a0000;}
    100%{background-color: #cf4a00db;}
    
}
.turn{
    animation: switchTurn 0.5s ease-in;
    background-color: #cf4a00db;
}


/* Eases the next round button into view/out of view*/
.nextRound{
    animation: fadeIn 3.0s ease-in;
}
.fadeAway{
    animation: fadeOut 0.8s ease-out;
}
/* Gets the winning/tie messages to animate in */
@keyframes dissolveIn {
    0%{
        opacity: 0;
        filter: blur(20px); 
    }
    100%{
        opacity: 1;
        filter: blur(0px)
    }
}
@keyframes dissolveOut {
    0%{
        opacity: 1;
        filter: blur(0px);
    }
    100%{
        opacity: 0;
        filter:blur(20px);
    }
}

h2{
    animation: dissolveIn 1.0s ease-in;
}
.dissolveOut{
    animation: dissolveOut 0.8s ease-out ;
}