@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

/* Global variables for color and styling */

:root{
    --primary-color: #4c79a1;
    --default-text-color: rgba(255, 255, 255, 0.89);
    --font: "Nerko One";
}

*{
    font-family: var(--font, sans-serif);
    font-size: 1.2rem;
}

/* Set general settings for entire page */
.head, .nameContainer input[type=text], .radioButton input:checked+label, .resetGame,
.tempCells, .board{
    background-color: var(--primary-color, rgba(43, 130, 212, 0.89));

}
.head, .nameContainer input[type=text], .radioButton input:checked+label, .resetGame,
.tempCells, .board, .endGame{
    color: var(--default-text-color);
}

/*  */
body{
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
    padding: 0;
    margin: 0;
}

/* Header content */
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 1rem;   
    box-shadow: 0px 7px 8px rgba(0,0,0,0.5);
}
.titleHeader{
    font-family: 'Matemasie', sans-serif;
    font-size: xxx-large;
}


/* Main conatiner design */
.main{
    padding-top: 2rem;
    padding-bottom: 3rem;
}
/* Title screen design */
.titleScreen{
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

/* User name styling */
.nameContainer input[type=text]:placeholder-shown{
    background-color: #e4e4e4;
    color:rgba(0,0,0,1);
}
.nameContainer input[type=text]:focus {
    background-color: white;
    color:rgba(0, 0, 0, 0.788);
}
.nameContainer input[type=text]{
    border-radius: 1rem;
    padding: 5px;
    text-align: center;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.3), 0 2px rgba(255,255,255,0.1);
}

/* Radio button styling
** This styling comes from JiveDig(see sources MD for more)*/

.radioButton{
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
    overflow: hidden;
}
.radioButton input{
    position: absolute !important;
    clip: rect(0,0,0,0);
}
.radioButton label{
    background-color: #e4e4e4;
    color:rgba(0,0,0,0.5);
    text-align: center;
    padding:8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
}

.radioButton input:checked + label {
    box-shadow: none;
}

.radioButton label:first-of-type{
    border-radius: 4px 0 0 4px;
}
.radioButton label:last-of-type{
    border-radius: 0 4px 4px 0;
}

.startGame {
    border: none;
    box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.5);
    border-radius: 1rem;
    width: 10rem;
    height: 2rem;
}

/* select form styling */
form{
    position: fixed !important;
}
select {
    outline: none;
    border-radius: 2rem;
    width: 8rem;
    height: 1.75rem;
    font-weight: bold;
    
}
option{
    font-weight: bold;
}
/* Game screen design */
.game {
    grid-template-rows: repeat(3,auto);
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-content: center;
    column-gap: 3rem;
}
.win {
    display: flex;
    grid-area: 1/2;
    margin-bottom: 2rem;
    margin-right: -1.6rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.winMessage, .tieMessage, .winGame, .tieGame{
    margin:-1.3rem;
}
 .winGame{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 0 2 90%;
    overflow: hidden;
}
.winPlayer, .winScore, .winName{
    font-size: 1.2rem;
}
/* Styling for the name, scores, and avatars */
.playerOne, .playerTwo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.playerOne{
    grid-area: 2/1;
}
.playerTwo{
    grid-area: 2/3;
}
.nameOne, .nameTwo, .scoreOne, .scoreTwo {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 1rem;
    border: 1px solid black;
}
.image{
    border-radius: 1rem;
    width: 10rem;
}

/* Sets the location of score, end and reset buttons */
.round {
    grid-area: 3/2;
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
}
.endGame, .nextRound, .resetGame {
    border-radius: 1rem;
    border: none;
    padding: 0.5rem 1rem;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
}
.endGame {
    grid-area: 4/1;
    background-color: #ab0000f2;
}
.nextRound{
    grid-area: 4/2;
}
.resetGame {
    grid-area: 4/3;
}

/* Styling for board buttons */
.tempCells {
    border: none;
    border-right:2px solid black;
    border-bottom: 2px solid black;
    outline: none;
}
.tempCells.R{
    border-right:none;
}
.tempCells.B{
    border-bottom: none;
}
.tempCells:hover{
    background-color: #335675;
    transition: background-color 0.5s ease-in-out;
}
.chars{
    position: relative;
    font-size: 3rem;
    font-weight: 700;
}

/* make the board a grid display */
.board {
    grid-area: 2/2;
    display: grid;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    box-shadow: 0px 8px 10px rgba(0,0,0,0.7), 0px 5px 10px rgba(255,255,255,0.3);
    border-radius: 1rem;
}

span{
    font-size: 2rem;
}

